<script async src="https://cdn.builder.io/js/webcomponents"></script>
<script is:inline>
  console.log(window.builderWcLoadCallbacks)

    class MyCounter extends HTMLElement {
    constructor() {
      super();
    }
    connectedCallback() {
      this.render();
    }
    render() {
      this.innerHTML = `
        <div>
          <h1>${this.getAttribute("title")}</hh1>
          <h2>${this.getAttribute("subTitle")}</h2>
        </div>
      `;
    }
  }

  customElements.define("my-counter", MyCounter);
  // When the SDK loads
  window.builderWcLoadCallbacks = [
    (context) => {
      // Register each component
      console.log("context", context);
      context.Builder.registerComponent(null, {
        name: "Counter",
        tag: "my-counter",
        inputs: [
          { name: "title", type: "string", defaultValue: "Hello world" },
          { name: "subTitle", type: "string", defaultValue: "Lorem ipsum" },
        ],
      });
    },
  ];
  console.log(window.builderWcLoadCallbacks)
  
</script>

<!-- Put this component where you want this Builder content to display -->
<builder-component model="page" api-key="dbca46c0d48940b09ef11fa8978c6dea">
  <!-- content here displays while loading -->
  Loading...
</builder-component>
