---
import {
  fetchOneEntry,
} from "@builder.io/sdk-solid";
import BuilderContent from "../components/solid/BuilderContent";

const PUBLIC_API_KEY = 'dbca46c0d48940b09ef11fa8978c6dea';

const urlPath = "/builder-fast-demo";

const content = await fetchOneEntry({
//   options: getBuilderSearchParams(''),
  apiKey: PUBLIC_API_KEY,
  model: "page",
  userAttributes: { urlPath },
});

// const needsCounterScript = content?.data?.blocks.find(...)
// console.log(content?.data?.blocks);

---
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8"/>
<title>Builder.io Astro Demo</title>
<meta name="viewport" content="width=device-width, initial-scale=1"/>
</head>
<body>
    <h1> Hello Solid + WC hydrated</h1>
    <BuilderContent client:idle apiKey={PUBLIC_API_KEY} model="page" content={content} />
    <script>
        class MyCounter extends HTMLElement {
            constructor() {
                super();
               console.log('MyCounter created'); 
               this.addEventListener('click', (e) => {
                if (!(e.target instanceof HTMLElement)) {
                    return
                }
                const span = this.querySelector('span');
                if (!span) {
                    return;
                }
                let count = Number(span?.textContent) || 0;
                const action = e.target?.dataset?.action;
                if (action === 'inc') {
                    count++;
                } else if (action === 'dec') {
                    count--;
                };
                span.textContent = ""+count;
               });
            }
        }
        customElements.define('my-counter', MyCounter);
    </script>
</body>
</html>
