---
import {
  fetchOneEntry,
} from "@builder.io/sdk-solid";
import BuilderContent from "../components/solid/BuilderContent";

const PUBLIC_API_KEY = 'dbca46c0d48940b09ef11fa8978c6dea';

const urlPath = "/builder-fast-demo";

const content = await fetchOneEntry({
//   options: getBuilderSearchParams(''),
  apiKey: PUBLIC_API_KEY,
  model: "page",
  userAttributes: { urlPath },
});

// const needsCounterScript = content?.data?.blocks.find(...)
// console.log(content?.data?.blocks);

---
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8"/>
<title>Builder.io Astro Demo</title>
<meta name="viewport" content="width=device-width, initial-scale=1"/>
</head>
<body>
    <h1> Hello Solid + hydration in preview + react</h1>
    <BuilderContent client:click apiKey={PUBLIC_API_KEY} model="page" content={content} />
    <script>
        import { hydrateRoot } from 'react-dom/client';
        import { InnerCounter } from '../components/react/InnerCounter';
        import {jsx} from "react/jsx-runtime";
        class MyCounter extends HTMLElement {
            constructor() {
               super();
               hydrateRoot(this, jsx(InnerCounter, {initialCount: 50})); 
            }
        }
        customElements.define('my-counter', MyCounter);
    </script>
</body>
</html>
